[Desktop Entry]
Name=Alt-Ergo
GenericName=theorem prover
Comment=Automated theorem prover
Exec=altgr-ergo %F
Terminal=false
Type=Application
Categories=Development;Debugger;
